.list-packages {
	list-style-type: none;
	margin: 0;
	padding: 20px 8px;
	position: relative;
}
.list-packages a {display: block;}
.list-stickers {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	list-style-type: none;
	margin: 0;
	padding: 15px;
	display: none;
	border: 1px solid #e2e2e2;
	box-shadow: 5px 5px 20px #999;
	background-color: #f2f2f2;
	border-radius: 10px;
}
.list-packages .buy-packages {display: none;}
.list-packages li {
	display: inline-block;
	padding: 5px;
}
.item-package .package-btn {
	padding: 8px;
	border-radius: 5px;
	background-color: #e2e2e2;
}
.page.stickers {padding: 20px 0;}
.list-packages.packages {
	display: flex;
	margin-top: 30px;
	flex-wrap: wrap;
}
.list-packages.packages .item-package .package-btn {background: transparent;}
.list-packages.packages .item-package {
	-ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    margin: 10px 15px;
    text-align: center;
}
.list-packages.packages .item-package .package-btn {
	position: relative;
	padding: 25px;
	border: 1px solid #cacaca;
	border-radius: 8px;
}
.list-packages.packages .package-btn span {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 28px;
	height: 20px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	background: var(--orange);
	display: block;
}
.list-packages.packages .package-btn img {width: 100%; border-radius: 8px;}
.list-packages.packages .list-stickers {
	top: 65%;
	bottom: auto;
	text-align: left;
}
#content .list-packages a:hover, #content .list-packages a:focus {text-decoration: none}
.item-package .package-title {
	font-size: 16px;
	line-height: 22px;
	margin: 10px 0;
	max-height: 44px;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	text-overflow: ellipsis;
}
.item-package .btn-cs {
	padding: 6px 18px;
	background: transparent;
	border-radius: 20px;
	border: 1px solid var(--orange);
	color: var(--orange);
}
.item-package .btn-cs[disabled] {border-color: #989898; color: #989898}
.current_sticker img {max-height: 100px !important; max-width: none !important}
